[submodule "public/apps/SaySo-client"]
	path = public/apps/SaySo-client
	url = https://github.com/razawi/SaySo-client.git
[submodule "public/apps/flashCards-client"]
	path = public/apps/flashCards-client
	url = https://github.com/razawi/flashCards-client.git
[submodule "public/apps/SaySo-teacher"]
	path = public/apps/SaySo-teacher
	url = https://github.com/razawi/SaySo-teacher.git
