<!DOCTYPE html>
<html lang="en" ng-app="sayso">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href="/public/apps/SaySo-client/sayso-client/stylesheets/style.css" rel="stylesheet" type="text/css">

    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-route/angular-route.min.js"></script>
    <script src="/node_modules/angular-sanitize/angular-sanitize.min.js"></script>

    <script src="/public/apps/SaySo-client/sayso-client/javascripts/appConfig.js"></script>
    <script src="/public/apps/SaySo-client/sayso-client/javascripts/module.js"></script>

    <script src="/public/apps/SaySo-client/sayso-client/javascripts/services/error-service.js"></script>
    <script src="/public/apps/SaySo-client/sayso-client/javascripts/services/order-by-service.js"></script>
    <script src="/public/apps/SaySo-client/sayso-client/javascripts/services/categories-service.js"></script>
    <script src="/public/apps/SaySo-client/sayso-client/javascripts/services/movies-service.js"></script>
    <script src="/public/apps/SaySo-client/sayso-client/javascripts/services/video-service.js"></script>
    <script src="/public/apps/SaySo-client/sayso-client/javascripts/services/subtitles-service.js"></script>
    <script src="/public/apps/SaySo-client/sayso-client/javascripts/directives/card-directive.js"></script>
    <script src="/public/apps/SaySo-client/sayso-client/javascripts/directives/popover-directive.js"></script>
    <script src="/public/apps/SaySo-client/sayso-client/javascripts/directives/subtitles-directive.js"></script>
    <script src="/public/apps/SaySo-client/sayso-client/javascripts/directives/video-directive.js"></script>
    <script src="/public/apps/SaySo-client/sayso-client/javascripts/controllers/main-controller.js"></script>
    <script src="/public/apps/SaySo-client/sayso-client/javascripts/filters/language-filter.js"></script>
</head>
<body>
    <ng-view></ng-view>
</body>
</html>