<!DOCTYPE html>
<html lang="en" ng-app="sayso">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">

    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-route/angular-route.min.js"></script>
    <script src="/node_modules/angular-sanitize/angular-sanitize.min.js"></script>

    <script src="public/apps/SaySo-client/... /javascripts/module.js"></script>
    <script src="javascripts/services/error-service.js"></script>
    <script src="javascripts/services/order-by-service.js"></script>
    <script src="javascripts/services/categories-service.js"></script>
    <script src="javascripts/services/movies-service.js"></script>
    <script src="javascripts/services/video-service.js"></script>
    <script src="javascripts/services/subtitles-service.js"></script>
    <script src="javascripts/directives/card-directive.js"></script>
    <script src="javascripts/directives/popover-directive.js"></script>
    <script src="javascripts/directives/subtitles-directive.js"></script>
    <script src="javascripts/directives/video-directive.js"></script>
    <script src="javascripts/controllers/main-controller.js"></script>
    <script src="javascripts/filters/language-filter.js"></script>
</head>
<body>
<ng-view></ng-view>
</body>
</html>