/* Constants */
var-HexGray: rgba(BEBEBE) ;

/* chat */
html, 
body {
	height:100%;
	overflow: hidden
}

html {
	background-color: rgba(0,0,0,0.5);
}
body{text-align:center;font-family: 'Lato', sans-serif;}
header{padding:59px;padding-bottom:5px;line-height:40px;position:relative;}


#NextRecord{
    position: fixed;
    bottom: 40px;
    margin:0 auto;
	padding:5px 20px;
	display:inline-block;
	font-weight:bold;
	border: 1px solid black;
	font-size: 28px;

	background-color: rgba(255,255,255,.5);
	border-radius:30px;
	cursor:pointer;
    background-position: 50% 50%;
}


#rightInRec{
    position: fixed;
    top: 80px;
    right: 5px;
	padding:25px 5px;
	display:inline-block;
	font-weight:bold;
	border: 1px solid black;
	font-size: 28px;

	background-color: rgba(255,255,255,.5);
	border-radius:30px;
	cursor:pointer;
    background-position: 50% 50%;
}

#textBody{
  position: fixed; /* or absolute */
  top: 15%;
  bottom:15%;
  left: 30%;
  right:30%;
  font-size: 98px;
}

#faceSymbol{
  position: fixed; /* or absolute */
  top: 65%;
  left: 65%;
  font-size: 30px;
}

#leftInRec{
    position: fixed;
    top: 80px;
    left: 5px;
	padding:25px 5px;
	display:inline-block;
	font-weight:bold;
	border: 1px solid black;
	font-size: 28px;

	background-color: rgba(255,255,255,.5);
	border-radius:40px;
	cursor:pointer;
    background-position: 50% 50%;
}